
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<hr />
<h3>@ViewBag.message</h3>

<h4>Giới thiệu về trường:</h4>
<p>
    Trường Đại học Nguyễn Trãi là một cơ sở kinh doanh dịch vụ giáo dục tại Việt Nam, 
    được thành lập ngày 5/2/2008 theo Quyết định số 183/QĐ-TTg của Thủ tướng Chính phủ, 
    tiền thân của trường hiện nay là Viện Đào tạo Công nghệ và Quản lý Quốc tế.
</p>
<img src="~/Content/img/Dai_hoc_NguyenTrai.png" alt="Hình ảnh minh họa"/>
<br />
<img src="~/Content/img/co-so-1-truong-dai-hoc-nguyen-trai-7290.jpg"/>